/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dcdbdb;
}

form {
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="number"],
select,
input[type="submit"] {
    outline: none;
    padding: 15px;
    width: 100%; /* Asegura que todos los elementos tengan el mismo ancho */
    border-radius: 10px;
    border: 1px solid #eee;
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

input[type="submit"] {
    color: #fff;
    background: #0098cb;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button{
    outline: none;
    padding: 15px;
    width: 100%; /* Asegura que todos los elementos tengan el mismo ancho */
    border-radius: 10px;
    border: 1px solid #eee;
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

button{
    color: #fff;
    background: #0098cb;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #0023eb;
}

input[type="submit"]:hover {
    background-color: #0023eb;
}

.limpiar-button {
    background-color: #e74c3c;
    transition: background-color 0.3s;
}

.limpiar-button:hover {
    background-color: #c0392b;
}

/* style.css */
.volver-button {
    /* Agrega estilos de tu elección */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}



@media only screen and (max-width: 768px) {
    form {
        width: 100%;
    }
    
    input[type="number"],
    select,
    input[type="submit"] {
        padding: 12px;
    }
}




