<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Pagos</title>
    <link rel="stylesheet" href=".\static\style.css">
</head>
<body>
    <h1>Calculadora de Pagos</h1>
    <form method="post">
        <label for="person">Cantidad de personas</label><br>
        <input type="number" id="person" name="person" required><br><br>

        <label for="Coste">Coste</label><br>
        <input type="number" id="coste" name="coste" required><br><br>


        <input type="submit" value="Calcular">


    </form>

    <form action="{{ url_for('limpiar_2') }}" method="POST">
        <input type="submit" value="Limpiar Resultados" class="limpiar-button">
    </form>
    
    <div>
        {% if total_dolar %}
        <h2>Resultado</h2>
        <p>Total en Dólares c/u: ${{ total_dolar }}</p>
        <p>Total en Bolívares c/u: {{ total_bs }} Bs</p>
        {% endif %}
    </div>

</body>
</html>
