<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
        <link rel="stylesheet" href=".\static\style.css">
    </head>

    <body>

        <header>
            <h1>Inicio</h1>
        </header>
        <div>
            <form method="POST" action="/">
                <button type="submit" name="calculadora_rumba">Calculadora de Rumba</button>
                <button type="submit" name="calculadora_pagos">Calculadora de Pagos</button>
            </form>
        </div>

    </body>
</html>