<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Precio dolar</title>
        <link rel="stylesheet" href=".\static\style.css">
    </head>

    <body>
        <div class="container">
            <header>
                <h1>Precio dolar</h1>
            </header>
            <form method="post" action="" ></form>
        </div>

    </body>
</html>